* {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color: #191919;   
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}

html, 
body {
    font-family: 'Montserrat', sans-serif;
} 
@media (max-width:1200px) {
body { max-width: 970px; }
}
@media (max-width:992px) {
    body { max-width: 750px; }
    }
@media (max-width:768px) {
    body { max-width: none; }
    }
body {
    max-width: 1366px;
    max-height: 5797px;
    background-color: #ffffff;   
   }
   header {
    background-color: #e9e9e9;     
   }
.container {
    margin-left: 7.2%;
    margin-right: 7.2%;
}
.site-navigation {
   display: flex;
   justify-content: space-between;
   padding-left: 48%;
   font-size: 12px;
   padding-top: 45px;
   margin-bottom: 170px;
   text-transform:uppercase;
}
.main-navigation-weapper .btn {
    position: absolute;
    padding-top: 38px;
}
.container h1, p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 38px;
    padding-left: 60%;
    padding-right: 2%;
}
.container p {
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 0px;
    padding-left: 60%;
    font-size: 18px;

}
div .bottom {
    position: absolute;
    border: 15px solid rgb(16, 201, 195);
    background-color: rgb(16, 201, 195);
}
.button {
    width: 98px; 
    margin-right: 26px;
    border: 1px solid #1784d1;
    border-radius: 3px;
    background-image: linear-gradient(90deg, #1f84e7, #37b3f8);
    box-shadow: inset 0px 1px 0px 0px rgba(136, 211, 251, 0.75);
    text-align: center;
    color: #ffffff;
}
}
aside {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter; 
    font-size: 52px;
    color: rgb(255, 255, 255);
    
}
.question {
    margin-bottom:35px;
    font-weight: bold;  
}
.question2 {
    font-weight: lighter; 
}
.snap {
    width: 286px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-image:linear-gradient( 90deg, rgb(52,174,34) 0%, rgb(110,210,88) 100%);
    background-clip: padding-box;
    background-position: center;
    box-shadow: inset 0px 1px 0px 0px rgba(112, 243, 84, 0.75);
    font-size: 34px;
    font-weight: bold;
    text-transform: none;
    text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}
.answer {
    padding-top: 15px;
}
.section { 
    width: 481px;
    height: 237px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-bottom: 7px solid #51c03d;
    background-color: #ffffff; 
}
.section p {
    text-align: center;
    padding-top: 18px;
    font-size: 22px;
    font-weight: lighter;
    color: #8d8d8d;
}
.containerphoto1 {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    margin-left: 27px;
    margin-right: 26px;
    margin-bottom: 33px;
}
section figure {
    display: block;
    width: 79px;
    height: 48px;
    font-size: 14px;
    color: #a09696;
}  
.containerphoto2 {
    display: flex;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 26px;
}

.footer {
    padding-top: 63px;
    padding-bottom: 72px;
    font-size: 20px;
    color: #8d8d8d;
    background-color: #ececec;
}
footer {
    background-color: #ececec;
}
.footernavigation {
    display: flex;
    justify-content: space-between;
    margin-left: 181px;
    margin-right: 141px;
}
figure {
    width: 133px;
}
.footernavigation1 {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    margin-left: 164px;
    margin-right: 180px;
    color: #8d8d8d;
}
.shopping {
    padding-right: 30px;
}
.photography {
    padding-right: 10px;
}